body {
    background-color: antiquewhite;
}
H1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

P {
    font-size: large;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px;
}

img {
    display: block;
    width: 500PX; height: 400PX;
    margin-left: auto;
    margin-right: auto;    
}